[user]
	email = louismontaut@gmail.com
	name = Louis Montaut
	# siningkey = /path/to/ssh/key

[core]
	pager = delta
	excludesfile = ~/dotfiles/git/.gitignore

[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	features = decorations
	line-numbers = true
	side-by-side = true

[delta "interactive"]
	keep-plus-minus-markers = false

[merge]
	tool = fugitive
	conflictstyle = diff3

[diff]
	colorMoved = default

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax

[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
	root = rev-parse --show-toplevel
[commit]
	verbose = true
	gpgsign = true
[gpg]
	format = ssh
[filter "gitignore"]
	clean = "sed '/#gitignore$/d'"
