[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:lmontaut/nvim_config.git
[submodule "projects-configs"]
	path = projects-configs
	url = git@github.com:lmontaut/projects-configs.git
