[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:lmontaut/nvim_config.git
[submodule "clangd-templates"]
	path = clangd-templates
	url = git@github.com:lmontaut/clangd-templates.git
